#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: 50px;
}